<div class="post-card">
    <div class="container">
        <div class="header">
            <div class="profile">
                <img [src]="getIcon('default')" class="avatar-icon"/>
                <div class="metadata">
                    <span class="name">{{name}}</span>
                    <span class="handler">{{handler}}</span>
                    <span class="date">{{date}}</span>
                </div>
            </div>
            <div class="more">
                ...
            </div>
        </div>
        <div class="content">
            <div class="text">
                {{text}}
            </div>
        </div>
        <div class="post-footer">
            <
        </div>
    </div>
</div>
