@import '../../../../global.scss';

.post-card {
    display: flex;
    justify-content: center;
    width: 100%; // Add this line

    .container {
        background-color: $bg-post-card;
        border-radius: $rounded-md;
        width: 100%; // Change max-width to width
        max-width: 35rem; // Keep this line
        margin: 1rem;
        padding: 1.5rem;
        padding-top: 0.5rem;
        color: white;

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            .profile {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                .avatar-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .metadata {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: bold;
                        color: white;
                    }
                    .handler {
                        font-size: 0.8em;
                        color: #939393;
                    }
                    .date {
                        font-size: 0.8em;
                        color: #939393;
                    }
                }
            }
        }



    }
}
