@import '../../global.scss';

.main-container {
    background-color: $bg-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    @include p-y-1;
    gap: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.1rem;

    button {
        background-color: transparent;
        border-style: none;
        cursor: pointer;

        .plus-icon {
            @include btn-primary;
        }

        .avatar-icon {
            @include avatarMobile;
        }
    }

    @media (min-width: #{$sm-screen}) {
        display: flex;
    }

    @media (min-width: 769px) {
        display: none;
    }
}
