<div class="main-container">
        <div class="items">
            <button class="home">
                <img [src]="home" class="home-icon" alt=""/>
            </button>
        </div>
        <div class="items">
            <button class="search">
                <img [src]="search" class="search-icon" alt=""/>
            </button>
        </div>
        <div class="items">
            <button class="create-post"><img [src]="plusSign" class="plus-icon" alt=""></button>
        </div>
        <div class="items">
            <button class="notification">
                <img [src]="notification" class="icon" alt=""/>
            </button>
        </div>
        <div class="items">
            <button class="saved">
                <img [src]="getIcon('default')" class="avatar-icon" alt=""/>
            </button>
        </div>
</div>
