<div class="main-container">
        <div class="items">
            <button class="home">
                <img [src]="home" class="home-icon"/>
            </button>
        </div>
        <div class="items">
            <button class="search">
                <img [src]="search" class="search-icon"/>
            </button>
        </div>
        <div class="items">
            <button class="create-post"><img [src]="plusSign" class="plus-icon"></button>
        </div>
        <div class="items">
            <button class="notification">
                <img [src]="notification" class="icon"/>
            </button>
        </div>
        <div class="items">
            <button class="saved">
                <img [src]="saved" class="icon"/>
            </button>
        </div>
</div>
