<div class="main-container">
    <div class="logo">
        <h2 class="desktop-logo">RedPost</h2>
        <h2 class="mobile-logo">R</h2>
    </div>
    <button class="create-post"><img [src]="getIcon('plus-sign')"  class="plus-icon"/><span class="text">Create Post</span></button>
    <ul class="nav-list">
        <li>
            <button class="home">
                <img [src]="getIcon('home')" class="home-icon"/> <span class="text">Home</span>
            </button>
        </li>
        <li>
            <button class="search">
                <img [src]="getIcon('search')" class="search-icon"/> <span class="text">Search</span>
            </button>
        </li>
        <li>
            <button class="notification">
                <img [src]="getIcon('notification')" class="icon"/> <span class="text">Notification</span>
            </button>
        </li>
        <li>
           <button class="chat">
               <img [src]="getIcon('liked')" class="icon"/><span class="text">Liked Post</span>
           </button>
        </li>
        <li>
            <button class="saved">
                <img [src]="getIcon('saved')" class="icon"/><span class="text">Saved</span>
            </button>
        </li>
    </ul>
    <div class="profile-section">
        <img [src]="getIcon('default')" class="avatar-icon"/>
        <div class="profile-info">
            <span class="name">{{name}}</span>
            <span class="handler">{{handler}}</span>
        </div>
    </div>
</div>
