<div class="main-container">
    <header>
        <div class="title">
            <img [src]="chat" class="title-icon"/>
            <h2>
                Recent Chats
            </h2>
        </div>
        <button class="new-chat">
            +
        </button>

    </header>
    <div class="chat-container">
        <div class="chats">
            <img src="../../../../../assets/default.png" class="chat-icon">
            <div class="chat-name">
                {{chatName}}
            </div>
        </div>
    </div>
</div>
